<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/">Home</a>
	<a href="admin_manage_categories">Manage Categories</a>
	<a href="admin_manage_subcategory">Manage Subcategory</a>
	<a href="admin_manage_service">Manage Service</a>
	<a href="admin_manage_staff">Manage Staff</a>
	<a href="admin_manage_customers">Manage Customers</a>
	<a href="admin_view_projects">View Projects</a>
	<a href="admin_view_work_updates">View Work Updates</a>
	<a href="/login">Logout</a> -->


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Home</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <!-- stylesheets -->
        <link rel="stylesheet" href="/static/uploads/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/animate.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/owl.theme.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/style.css">


        <!-- scripts -->
        <script type="text/javascript" src="/static/uploads/assets/js/modernizr.custom.97074.js"></script>

    </head>
    <style type="text/css">
        h1{
            color: blue;
        }
       
    </style>

    <body>

        <div id="home-page">

            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">Avada Pro Agency</span>
                            <a href="index.html">
                                <img src="/static/uploads/assets/img/main_logo.png" class="img-responsive center-block" alt="logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="/admin/admin_home"><span>home</span></a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>manage</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="admin_manage_categories">categories</a>
                                    </li>
                                    <li>
                                        <a href="admin_manage_subcategory">subcategory</a>
                                    </li>
                                    <li>
                                        <a href="admin_manage_service">service</a>
                                    </li>
                                    <li>
                                        <a href="admin_manage_staff">staff</a>
                                    </li>
                                    <li>
                                        <a href="admin_manage_customers">customers</a>
                                    </li>
<!--                                     <li>
                                        <a href="coming_soon.html">coming soon</a>
                                    </li> -->
                                </ul>  
                            </li> <!-- end of /.dropdown -->
 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>View</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="admin_view_projects">projects</a>
                                    </li>
                                    <li>
                                        <a href="admin_view_work_updates">work updates</a>
                                    </li>
                                  
                                </ul>  
                            </li>

                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Reports</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="admin_project_report">project report</a>
                                    </li>
                                    <!-- <li>
                                        <a href="admin_view_work_updates">work updates</a>
                                    </li> -->
                                  
                                </ul>  
                            </li>
                            <!-- <li>
                                <a href="staff_register"><span>Staff Registration</span></a>
                            </li> -->

                            <li>
                                <a href="/login"><span>Logout</span></a>
                            </li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->


            <!-- header start -->
            <header id="header" class="header-wrapper home-parallax home-fade">
                <div class="header-overlay"></div>
                <div class="header-wrapper-inner">
                    <div class="container">

                        <div class="welcome-speech">
                            <!-- <h1>Welcome to our avada agency</h1>
                            <p>Everything you need to have in order to build a stunning website</p>
                            <a href="#" class="btn btn-white">
                                Our Works
                            </a> -->
                       
            <!-- /#header -->