{% include "admin_header.html" %}
<center>
	<form method="post">
		{% if data['update_feedback'] %}
		<h1 style="color: brown;"><b>Update Feedback</b></h1>
	<table class="table" style="width: 500px;">
		<tr>
			<th>Feedback Title</th>
			<td><input type="text" name="ftitle" value="{{data['update_feedback'][0]['feedback_title']}}" pattern="[a-zA-Z\s]+" required readonly></td>
		</tr>

		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Submit"></td>
		</tr>
		{% else %}
	<h1 style="color: brown;"><b>Manage Feedback</b></h1>
	<table class="table" style="width: 500px;">
		<tr>
			<th>Feedback Title</th>
			<td><input type="text" name="ftitle" required></td>
		</tr>

		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Submit"></td>
		</tr>
	</table>
	{% endif %}
	<h1 style="color: brown;"><b>Feedback</b></h1>
	<table class="table" style="width: 500px;">
		<tr>
			<th>Sl No</th>
			<th>Feedback Title</th>
		</tr>
		{% for row in data['feedback'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['feedback'] }}</td>

		</tr>
		{% endfor %}
	</table>
	</form>
</center>
{% include "footer.html" %}
