{% include "staff_header.html" %}
<center>
	<h1 style="color: brown;"><b>Customer Details</b></h1>
		<table class="table" style="width: 500px;">
			<tr>
				<th>Sl No</th>
				<th>Customer Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>House Name</th>
				<th>Place</th>
				<th>Pincode</th>
				<th>Photo</th>
				
			</tr>
			{% for row in data['customer'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['name']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
				<td>{{row['house_name']}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['pincode']}}</td>
				<td><img src="/{{row['photo']}}" height="70px" width="80px"></td>
				<td><a style="color: magenta;" href="staff_interact_with_customer?cid={{row['customer_id']}}">Chat </a></td>
				<td><a style="color: magenta;" href="staff_report_customer?cid={{row['customer_id']}}">Report</a></td>
				
			{% endfor %}
		</table>
</center>
{% include "footer.html" %}