<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/staff_home">Home</a>
	<a href="staff_view_assigned_job">View Assigned Job</a>
	<a href="/login">Logout</a> -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Home</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <!-- stylesheets -->
        <link rel="stylesheet" href="/static/uploads/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/animate.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/owl.theme.css">
        <link rel="stylesheet" href="/static/uploads/assets/css/style.css">


        <!-- scripts -->
        <script type="text/javascript" src="/static/uploads/assets/js/modernizr.custom.97074.js"></script>

    </head>

    <body>

        <div id="home-page">

            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">Avada Pro Agency</span>
                            <a href="/">
                                <img style="width: 150px;" src="/static/uploads/assets/thehive_header.webp" class="img-responsive center-block" alt="logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="/staff/staff_home"><span>Home</span></a>
                            </li>
                            <li>
                                <a href="/staff/staff_profile"><span>Profile</span></a>
                            </li>

                            <li>
                                <a href="/staff/staff_view_feedback"><span>Feedback</span></a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>View</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="staff_view_customer_request">Customer request</a>
                                    </li>
                                    <!-- <li>
                                        <a href="service.html">service</a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="portfolio.html">portfolio</a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="gallery.html">gallery</a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="404.html">404 page</a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="coming_soon.html">coming soon</a>
                                    </li> -->
                                </ul>  
                            </li> 

                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>blog</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="multiple_blog_left_sidebar.html">multiple with left sidebar</a>
                                    </li>
                                    <li>
                                        <a href="multiple_blog.html">multiple with right sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single_blog_left_sidebar.html">single with left sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single_blog.html">single with right sidebar</a>
                                    </li>
                                    <li>
                                        <a href="single_blog_full_width.html">single full width</a>
                                    </li>
                                </ul> 
                            </li>  --><!-- end of /.dropdown -->
                            <!-- <li>
                                <a href="satff_register"><span>Staff Registration</span></a>
                            </li> -->

                            <li>
                                <a href="/login"><span>Logout</span></a>
                            </li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->


            <!-- header start -->
            <header id="header" class="header-wrapper home-parallax home-fade">
                <div class="header-overlay"></div>
                <div class="header-wrapper-inner">
                    <div class="container">

                        <div class="welcome-speech">
                            <!-- <h1>Welcome to our avada agency</h1>
                            <p>Everything you need to have in order to build a stunning website</p>
                            <a href="#" class="btn btn-white">
                                Our Works
                            </a> -->
                    
	